.headerBotanas {
 
    div.imagLogo {
        img {
            width: 200px;
        }
    }



    div.dropdown-menu {
        font-family: $fontTittle;
    }

    nav {
        text-decoration: none;
        color: $fuenteColor02;
        font-weight: normal;
        font-size: x-large;
        font-family: $fontTittle;
        display: flex;
        align-items: center;
        height: $altoNav;
    }
    div.collapse {
        background-color: $colorProducto04;
        z-index: 100;
    }

}


div.tituloBotanas {
    margin-top: 50px;
    h1{
      font-family: $fontTittle;
      font-size: 50px;
      color: $fuenteColor05;
      text-align: center;
    }
}


div.contenido{
    margin-top: 50px;
    
    h3{
      font-family: $fuenteContenido;
      font-size: 20px;
      color: $colorcontenido;
      text-align: center;
        padding-bottom: 50px;
    }
}

div.container-fluid{

    .col-md-5{
        img{
            height: 600px;
            width: 100%;
        }
    }

   .col-md-4{  
       img{
    height: 600px;
    width: 100%;
         }
    }

    .col-md-3{  
        img{
     height: 600px;
     width: 100%;
          }
     }

}

    div.container_01 {
        padding-bottom: 50px;
            div.col-md-5 {
                padding-top: 40px;
                font-size: x-large;
                font-family: $fuenteContenido;
                text-align: center;

            }

            div.col-md-4 {
                padding-top: 40px;
                font-size: x-large;
                font-family: $fuenteContenido;
                text-align: center;

            }

            div.col-md-3 {
                padding-top: 40px;
                font-size: x-large;
                font-family: $fuenteContenido;
                text-align: center;

    }

}

div.container-fluid_02{

    .col-md-5{
        img{
            height: 600px;
            width: 100%;
        }
    }

   .col-md-4{  
       img{
    height: 600px;
    width: 100%;
         }
    }

    .col-md-3{  
        img{
     height: 600px;
     width: 100%;
          }
     }

}


div.container_02 {
    padding-bottom: 50px;
        div.col-md-5 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-4 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-3 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

}

}

div.container-fluid_03{

    .col-md-5{
        img{
            height: 600px;
            width: 100%;
        }
    }

   .col-md-4{  
       img{
    height: 600px;
    width: 100%;
         }
    }

    .col-md-3{  
        img{
     height: 600px;
     width: 100%;
          }
     }

}


div.container_03 {
    padding-bottom: 50px;
        div.col-md-5 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-4 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-3 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;
        } 

}


div.container-fluid_04{

    .col-md-5{
        img{
            height: 600px;
            width: 100%;
        }
    }

   .col-md-4{  
       img{
    height: 600px;
    width: 100%;
         }
    }

    .col-md-3{  
        img{
     height: 600px;
     width: 100%;
          }
     }

}


div.container_04 {
    padding-bottom: 50px;
        div.col-md-5 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-4 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-3 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;
        }

}






div.ctaBotanas {
    padding-top: 120px;
    font-size: 50px;
    font-family: $fontTittle;
    color: $fuenteColor05;
    text-align: center;
}

div.cta1Botanas {
    padding-top: 40px;
    font-size: 50px;
    font-family: $fontTittle;
    color: $fuenteColor05;
    text-align: center;
}

.formBotanas{
    margin-bottom: 20px;

    div.form-group {
        padding-left: 30%;
        padding-right: 30%; 
        font-family: $fuenteContenido;
    }


    .rainbow{
        background-color: $colorPrincipal;
        border-radius: 4px;  
        color: #fff;
        cursor: pointer;
        padding: 8px 16px;
        margin-left: 50%;
        margin-right: 40%;
        font-family: $fuenteContenido;
      }

     .rainbowBotanas:hover{
        background-image: linear-gradient(90deg, #c5902e 0%, #DCB265 49%, #f7d493 80%, #fcb634 100%);
        animation: slidebg 1s linear infinite;
        }
        
}


.footerBotanas {


    div{
        &.container_4{
            height: 300px*2;
            background-color: $colorProducto04;
        }

        
    }

    div.container_4{

        div.col-lg-4
        {
            iframe 
            {
                padding-top: 100px;
                width: 100%;
                padding-left: 15px;
            }


        


        }


        div.col-lg-2{
        margin-right: -130px;
        width: 100%;

            .alfiler {
            color:$fuenteColor02;
            font-family: $fuenteContenido;
                img{
                    width: $iconowidth;
                    height: $iconoHeight;
                    padding-bottom: $iconoPaddingbottom;
                    margin-top: $iconoMargintop;
                }
            }
        

            .email {
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                    img{
                        width: $iconowidth;
                        height: $iconoHeight;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: $iconoMargintop;
                    }
                }
        

            .telefono {
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                    img{
                        width: $iconowidth;
                        height: $iconoHeight;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: $iconoMargintop;
                }
            }

            div.redesSoc{
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                font-size: large;
                margin-top: 40px;
                div.facebook
                    img{
                        width: 30px;
                        height: 35px;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: 10px;
                }
            }
        
            div.redesSoc{
                div.instagram
                    img{
                        width: 30px;
                        height: 35px;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: 10px;
                }
        }   }
        

        div.col-lg-6{ 
           
            form.formInicio {
                padding-top: 100px;
                margin-left: 200px;
                margin-right: 50px;
    
    
                .rainbow{
                    background-color: $colorPrincipal;
                    border-radius: 4px;  
                    color: #fff;
                    cursor: pointer;
                    padding: 8px 16px;
                    margin-left: 50%;
                    margin-right: 40%;
                  }
    
    
                .rainbowFormBotanas:hover{
                    background-image: linear-gradient(
                       to right, 
                       #c5902e,
                       #ddb66f, 
                       #ca9739,
                       #DCB265,
                       #d1a451,
                       #fcb634
                     );
                     animation:slidebg 1s linear infinite;
                 }
    
                 
            }
    
            }
        



    }
        



} 


@media screen and (max-width: 1478px) {
    .footerBotanas {
        background-color:$colorProducto04;
        height: 700px;
        width: 100%;
        text-align: center;
        form.formInicio {
            margin-left: 50%;
            margin-right: 50%;
        }
    }
    
}

@media screen and (max-width: 1078px) {
    .footerBotanas {
        background-color:$colorProducto04;
        height: 1700px;
        width: 100%;
        text-align: center;
        form.formInicio {
            margin-left: 50%;
            margin-right: 50%;
        }
    }
    
}
