.headerDelicias {
 
    div.imagLogo {
        img {
            width: 200px;
        }
    }



    div.dropdown-menu {
        font-family: $fontTittle;
    }

    nav {
        text-decoration: none;
        color: $fuenteColor;
        font-weight: normal;
        font-size: x-large;
        font-family: $fontTittle;
        display: flex;
        align-items: center;
        height: $altoNav;
    }
    div.collapse {
        background-color: $colorProducto01;
        z-index: 100;
    }

}


div.tituloDelicias {
    margin-top: 50px;
    h1{
      font-family: $fontTittle;
      font-size: 50px;
      color: $fuenteColor;
      text-align: center;
    }
}


div.contenido{
    margin-top: 50px;
    
    h3{
      font-family: $fuenteContenido;
      font-size: 20px;
      color: $colorcontenido;
      text-align: center;
        padding-bottom: 50px;
    }
}

div.container-fluid{

    .col-md-5{
        img{
            height: 600px;
            width: 100%;
        }
    }

   .col-md-4{  
       img{
    height: 600px;
    width: 100%;
         }
    }

    .col-md-3{  
        img{
     height: 600px;
     width: 100%;
          }
     }

}

    div.container_01 {
        padding-bottom: 50px;
            div.col-md-5 {
                padding-top: 40px;
                font-size: x-large;
                font-family: $fuenteContenido;
                text-align: center;

            }

            div.col-md-4 {
                padding-top: 40px;
                font-size: x-large;
                font-family: $fuenteContenido;
                text-align: center;

            }

            div.col-md-3 {
                padding-top: 40px;
                font-size: x-large;
                font-family: $fuenteContenido;
                text-align: center;

    }

}


div.container02{

    .col-md-5{
        img{
            height: 600px;
            width: 100%;
        }
    }

   .col-md-4{  
       img{
    height: 600px;
    width: 100%;
         }
    }

    .col-md-3{  
        img{
     height: 600px;
     width: 100%;
          }
     }

}

div.container_02 {
    padding-bottom: 50px;
        div.col-md-5 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-4 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

        }

        div.col-md-3 {
            padding-top: 40px;
            font-size: x-large;
            font-family: $fuenteContenido;
            text-align: center;

}

}

div.ctaDelicias {
    padding-top: 120px;
    font-size: 50px;
    font-family: $fontTittle;
    color: $fuenteColor;
    text-align: center;
}

div.cta1Delicias {
    padding-top: 40px;
    font-size: 50px;
    font-family: $fontTittle;
    color: $fuenteColor;
    text-align: center;
}


.form{
    margin-bottom: 20px;

    div.form-group {
        padding-left: 30%;
        padding-right: 30%; 
        font-family: $fuenteContenido;
    }


    .rainbow{
        background-color: $colorBoton;
        border-radius: 4px;  
        color: #fff;
        cursor: pointer;
        padding: 8px 16px;
        margin-left: 50%;
        margin-right: 40%;
        font-family: $fuenteContenido;
      }

     .rainbowDelicias:hover{
        background-image: linear-gradient(90deg, #fa8fb1 0%, #f74780 49%, #ffc1d5 80%, #fc6998 100%);
        animation: slidebg 1s linear infinite;
        }
        
}


   


.footerDelicias {

    div{
        &.container_4{
            height: 300px*2;
            background-color: $colorProducto01;
        }

        
    }

    div.container_4{

        div.col-lg-4
        {
            iframe 
            {
                padding-top: 100px;
                width: 100%;
                padding-left: 15px;
            }


        


        }


        div.col-lg-2{
        margin-right: -130px;
        width: 100%;

            .alfiler {
            color:$fuenteColor02;
            font-family: $fuenteContenido;
                img{
                    width: $iconowidth;
                    height: $iconoHeight;
                    padding-bottom: $iconoPaddingbottom;
                    margin-top: $iconoMargintop;
                }
            }
        

            .email {
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                    img{
                        width: $iconowidth;
                        height: $iconoHeight;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: $iconoMargintop;
                    }
                }
        

            .telefono {
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                    img{
                        width: $iconowidth;
                        height: $iconoHeight;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: $iconoMargintop;
                }
            }

            div.redesSoc{
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                font-size: large;
                margin-top: 40px;
                div.facebook
                    img{
                        width: 30px;
                        height: 35px;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: 10px;
                }
            }
        
            div.redesSoc{
                div.instagram
                    img{
                        width: 30px;
                        height: 35px;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: 10px;
                }
        }   }
        

        div.col-lg-6{ 
           
        form.formInicio {
            padding-top: 100px;
            margin-left: 200px;
            margin-right: 50px;


            .rainbow{
                background-color: $colorBoton;
                border-radius: 4px;  
                color: #fff;
                cursor: pointer;
                padding: 8px 16px;
                margin-left: 50%;
                margin-right: 40%;
              }


            .rainbowDeliciasFooter:hover{
                background-image: linear-gradient(
                   to right, 
                   #fa8fb1,
                   #f74780, 
                   #ffc1d5,
                   #fc6998,
                   #ffe4ec,
                   #E5677D
                 );
                 animation:slidebg 1s linear infinite;
             }

             
        }

        }

      

    }
        

    



} 

@media screen and (max-width: 1478px) {
    .footerDelicias {
        background-color:$colorProducto01;
        height: 700px;
        width: 100%;
        text-align: center;
        form.formInicio {
            margin-left: 50%;
            margin-right: 50%;
        }
    }
    
}

@media screen and (max-width: 1078px) {
    .footerDelicias {
        background-color:$colorProducto01;
        height: 1700px;
        width: 100%;
        text-align: center;
        form.formInicio {
            margin-left: 50%;
            margin-right: 50%;
        }
    }
    
}
