

.headerHome{

    div.imagLogo {
        img {
            width: 200px;
        }
    }

    nav {
        text-decoration: none;
        color: $colorFondo;
        font-weight: normal;
        font-size: x-large;
        font-family: $fontTittle;
        display: flex;
        align-items: center;
        height: $altoNav;
        div.collapse {
            background-color: $colorPrincipal;
            z-index: 100;
        }
    }

    div.dropdown-menu {
        font-family: $fontTittle;
    }

}




section#banner {
    background-color: $colorFondo;
    height: 800px;
    background-image: url(../Multimedia/Amaranto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 340px;

    div.tituloBanner {
        text-align: center;
        color: $colorFondo;
        font-family: $fontTittle;
    }

    h1{
        font-size: 80px;
        color: $colorFondo;
    }
}


div#intro{
    background-color: $colorFondo;
    height: 250px;
    

    .introTitulo{
        color: $fuenteColor;
        font-weight: normal;
        font-size: 50px;
        text-align: center;
        padding: 20px;
        padding-top: 50px;
        font-family:$fontTittle
    }

    .introTexto{
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        padding: 20px;
        font-family: $fuenteContenido;
        color: $fuenteColor02;
    }

}





div.container_1 {

    div.col-lg-5 {
        background-image: url(../Multimedia/barra_amaranto_01.jpg);
        height: 600px;
        font-family:$fuenteContenido;
        font-size: large;

        @media screen and (max-width: 1390px) {
            .pulse {
            margin-top: 20px;
            margin-left: 10px;
            padding-left: 40px; 
            padding-right: 30px;
            font-size: medium;
            }
        }

        
       
        .pulse:hover,
        .pulse:focus {
        -webkit-animation: pulse 1s;
                animation: pulse 1s;
        box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
        }

        @-webkit-keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }

        @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }
        .pulse {
            display: inline-flex;
            margin-top: 50px;
            margin-left: 30px;
            --color: #1bb2d8;
            --hover: #1b7f9e;
            color: $colorSecundario;
            background-color: #1bb2d8;
            padding-left: 90px; 
            padding-right: 90px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none; 
         
        } 
        
    }

    @media screen and (max-width: 1390px) {
        div.col-lg-5 {
        height: 450px;
        width: auto;
        }
    } 
    @media screen and (max-width: 866px) {
        div.col-lg-5 {
        height: 450px;
        width: 450px;
        }
    } 

    @media screen and (max-width: 788px) {
        div.col-lg-5 {
            height: 450px;
            width: 650px;
        }
    } 



    div.col-lg-4 {
        background-image: url(../Multimedia/alegrias_dechocolate_01.png);
        height: 600px;
        font-family:$fuenteContenido;
        font-size: large;

        @media screen and (max-width: 1390px) {
            .pulse02 {
            margin-top: 20px;
            margin-left: 10px;
            padding-left: 20px; 
            padding-right: 20px;
            font-size: medium;
            }
        }

        .pulse02:hover,
        .pulse02:focus {
        -webkit-animation: pulse02 1s;
                animation: pulse02 1s;
        box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
        }

        @-webkit-keyframes pulse02 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }

        @keyframes pulse02 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }
        .pulse02 {
            display: inline-flex;
            margin-top: 50px;
            margin-left: 30px;
            --color: #1bb2d8;
            --hover: #1b7f9e;
            color: $colorSecundario;
            background-color: #1bb2d8;
            padding-left: 40px; 
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none; 
        }

    }

    @media screen and (max-width: 1390px) {
        div.col-lg-4 {
        height: 450px;
        width: auto;
        }
    }  
    @media screen and (max-width: 866px) {
        div.col-lg-4 {
        height: 450px;
        width: 450px;
        }
    } 

    @media screen and (max-width: 788px) {
        div.col-lg-4 {
            height: 450px;
            width: 650px;
        }
    } 

    div.col-lg-3 {
        background-image: url(../Multimedia/alegria_sabores_01.jpg);
        height: 600px;
        font-family:$fuenteContenido;
        font-size: large;
        
        @media screen and (max-width: 1390px) {
            .pulse03 {
            margin-top: 20px;
            margin-left: 10px;
            padding-left: 20px; 
            padding-right: 20px;
            font-size: medium;
            }
        }

        .pulse03:hover,
        .pulse03:focus {
        -webkit-animation: pulse03 1s;
                animation: pulse03 1s;
        box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
        }

        @-webkit-keyframes pulse03 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }

        @keyframes pulse03 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }
        .pulse03 {
            display: inline-flex;
            margin-top: 50px;
            margin-left: 30px;
            --color: #1bb2d8;
            --hover: #1b7f9e;
            color: $colorSecundario;
            background-color: #1bb2d8;
            padding-left: 40px; 
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none; 
        }
    }

    @media screen and (max-width: 1390px) {
        div.col-lg-3 {
        height: 450px;
        width: auto;
        }
    }  
    @media screen and (max-width: 866px) {
        div.col-lg-3 {
        height: 450px;
        width: 450px;
        }
    } 

    @media screen and (max-width: 788px) {
        div.col-lg-3 {
        height: 450px;
        width: 650px;
        }
    } 

}

@media screen and (max-width: 837px) {
    div.container_1{
    padding-left: 10%;
    padding-right: 10%;
    }
} 

div.container_2{
    div.col-lg-5 {
        background-image: url(../Multimedia/churritos_amaranto_01.jpeg);
        height: 600px;
        font-family:$fuenteContenido;
        font-size: large;

        @media screen and (max-width: 1390px) {
            div.col-lg-5 {
            height: 400px;
            width: auto;
            }
            .pulse04 {
            margin-top: 40px;
            margin-left: 30px;
            padding-left: 70px; 
            padding-right: 70px;
            font-size: medium;
            }
        }
    
    }
        
        .pulse04:hover,
        .pulse04:focus {
        -webkit-animation: pulse04 1s;
                animation: pulse04 1s;
        box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
        }

        @-webkit-keyframes pulse04 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }

        @keyframes pulse04 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }
        .pulse04 {
            display: inline-flex;
            margin-top: 50px;
            margin-left: 30px;
            --color: #1bb2d8;
            --hover: #1b7f9e;
            color: $colorSecundario;
            background-color: #1bb2d8;
            padding-left: 80px; 
            padding-right: 80px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none; 
        }
    
        @media screen and (max-width: 1390px) {
            div.col-lg-5 {
            height: 450px;
            width: auto;
            }
        } 
        @media screen and (max-width: 866px) {
            div.col-lg-5 {
            height: 450px;
            width: 450px;
            }
        } 
    
        @media screen and (max-width: 788px) {
            div.col-lg-5 {
                height: 450px;
                width: 650px;
            }
        }   


    div.col-lg-4 {
        background-image: url(../Multimedia/pepitoria_01.jpg);
        height: 600px;
        font-family:$fuenteContenido;
        font-size: large;

        @media screen and (max-width: 1390px) {
            div.col-lg-4 {
            height: 400px;
            width: auto;
            }
            .pulse05 {
            margin-top: 20px;
            margin-left: 10px;
            padding-left: 20px; 
            padding-right: 20px;
            font-size: medium;
            }
        }
        
        .pulse05:hover,
        .pulse05:focus {
        -webkit-animation: pulse05 1s;
                animation: pulse05 1s;
        box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
        }

        @-webkit-keyframes pulse05 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }

        @keyframes pulse05 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }
        .pulse05 {
            display: inline-flex;
            margin-top: 50px;
            margin-left: 30px;
            --color: #1bb2d8;
            --hover: #1b7f9e;
            color: $colorSecundario;
            background-color: #1bb2d8;
            padding-left: 80px; 
            padding-right: 80px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none; 
        }
    }

    @media screen and (max-width: 1390px) {
        div.col-lg-4 {
        height: 450px;
        width: auto;
        }
    } 
    @media screen and (max-width: 866px) {
        div.col-lg-4 {
        height: 450px;
        width: 450px;
        }
    } 

    @media screen and (max-width: 788px) {
        div.col-lg-4 {
            height: 450px;
            width: 650px;
        }
    } 


    div.col-lg-3 {
        background-image: url(../Multimedia/botana_arandano_01.png);
        height: 600px;
        font-family:$fuenteContenido;
        font-size: large;
        
        @media screen and (max-width: 1390px) {
            .pulse06 {
            margin-top: 20px;
            margin-left: 10px;
            padding-left: 20px; 
            padding-right: 20px;
            font-size: medium;
            }
        }

        .pulse06:hover,
        .pulse06:focus {
        -webkit-animation: pulse06 1s;
                animation: pulse06 1s;
        box-shadow: 0 0 0 3em rgba(255, 255, 255, 0);
        }

        @-webkit-keyframes pulse06 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }

        @keyframes pulse06 {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
        }
        }
        .pulse06 {
            display: inline-flex;
            margin-top: 50px;
            margin-left: 30px;
            --color: #1bb2d8;
            --hover: #1b7f9e;
            color: $colorSecundario;
            background-color: #1bb2d8;
            padding-left: 25px; 
            padding-right: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-decoration: none; 
        }
    }

    @media screen and (max-width: 1390px) {
        div.col-lg-3 {
        height: 450px;
        width: auto;
        }
    } 
    @media screen and (max-width: 866px) {
        div.col-lg-3 {
        height: 450px;
        width: 450px;
        }
    } 

    @media screen and (max-width: 788px) {
        div.col-lg-3 {
            height: 450px;
            width: 650px;
        }
    } 


}

@media screen and (max-width: 837px) {
    div.container_2{
    padding-left: 10%;
    padding-right: 10%;
    }
} 

div#nuestraHistoria {

    h2 {
    margin-top: 50px;
    margin-bottom: 130px;
    text-align: center;
    font-size: 50px;
    font-family: $fontTittle;
    color: $fuenteColor;
    }


div.container_3 {

 color: $colorFondo;
 height: 600px;
 
}


    div.col-lg-5 {
        padding-left: 50px;
        display: flex;
    
        iframe{
            width: 100%;
            height:450px;
            border: 0px;
        }
       
    }

    div.col-lg-7 {
        text-align: justify;
        padding-right: 30px;
        color: $fuenteColor02;
        font-family: $fuenteContenido;

    
    }

    @media screen and (min-width: 200px) {
        div.col-lg-7 {
           padding-top: 40px;
        }
   }
   
   @media screen and (max-width: 1000px) {
        div.col-lg-5 {
       padding-left: 20px;
        }
    }

    @media screen and (max-width: 1424px) {
        div.container_3 {
            height: 900px;
        }

    @media screen and (max-width: 919px) {
         div.container_3 {
            height: 1400px;
         }
    }

    @media screen and (max-width: 292px) {
        div.container_3 {
           height: 5000px;
        }
   }

}

}

.footerHome {


    div{
        &.container_4{
            height: 300px*2;
            background-color: $colorPrincipal;
        }

        
    }

    div.container_4{

        div.col-lg-4
        {
            iframe 
            {
                padding-top: 100px;
                width: 100%;
                padding-left: 15px;
            }


        


        }


        div.col-lg-2{
        margin-right: -130px;
        width: 100%;

            .alfiler {
            color:$fuenteColor02;
            font-family: $fuenteContenido;
                img{
                    width: $iconowidth;
                    height: $iconoHeight;
                    padding-bottom: $iconoPaddingbottom;
                    margin-top: $iconoMargintop;
                }
            }
        

            .email {
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                    img{
                        width: $iconowidth;
                        height: $iconoHeight;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: $iconoMargintop;
                    }
                }
        

            .telefono {
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                    img{
                        width: $iconowidth;
                        height: $iconoHeight;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: $iconoMargintop;
                }
            }

            div.redesSoc{
                color:$fuenteColor02;
                font-family: $fuenteContenido;
                font-size: large;
                margin-top: 40px;
                div.facebook
                    img{
                        width: 30px;
                        height: 35px;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: 10px;
                }
            }
        
            div.redesSoc{
                div.instagram
                    img{
                        width: 30px;
                        height: 35px;
                        padding-bottom: $iconoPaddingbottom;
                        margin-top: 10px;
                }
        }   }
        

        div.col-lg-6{ 
           
            form.formInicio {
                padding-top: 100px;
                margin-left: 200px;
                margin-right: 50px;
    
    
                .rainbow{
                    background-color: $colorBoton;
                    border-radius: 4px;  
                    color: #fff;
                    cursor: pointer;
                    padding: 8px 16px;
                    margin-left: 50%;
                    margin-right: 40%;
                  }
    
    
                .rainbowFormHome:hover{
                    background-image: linear-gradient(
                       to right, 
                       #d15771,
                       #fabbbc, 
                       #cc7c7d,
                       #d85e83,
                       #f8d5d5,
                       #d85e83
                     );
                     animation:slidebg 1s linear infinite;
                 }
    
                 
            }
    
            }
        



    }
        



} 


@media screen and (max-width: 1478px) {
    .footerHome {
        background-color:$colorPrincipal;
        height: 700px;
        width: 100%;
        text-align: center;
        form.formInicio {
            margin-left: 50%;
            margin-right: 50%;
        }
    }
    
}

@media screen and (max-width: 1078px) {
    .footerHome {
        background-color:$colorPrincipal;
        height: 1700px;
        width: 100%;
        text-align: center;
        form.formInicio {
            margin-left: 50%;
            margin-right: 50%;
        }
    }
    
}