

$fontTittle: 'Poiret One', cursive;
$fuenteContenido: 'Poppins', sans-serif;
$colorPrincipal: #cc7c7d;
$colorProducto01: #f8d5d5;
$colorProducto02: #84a4d4;
$colorProducto03: #7dccbe;
$colorProducto04: #E3B868;
$colorBoton: #dcb265;
$fuenteColor: #E5677D;
$fuenteColor02: #000;
$fuenteColor03: #739bd6;
$fuenteColor04: #58a597;
$fuenteColor05: #DCB265;
$fuenteColor06: #06556d;
$colorSecundario: #EDF3FA;
$colorFondo: #fff; 
$colorcontenido: #000;
$altoNav: 200px;
$iconowidth: 30px;
$iconoHeight: auto;
$iconoPaddingbottom: 5px;
$iconoMargintop: 50px;

