

$fontTittle: 'Poiret One', cursive;
$fuenteContenido: 'Poppins', sans-serif;
$colorPrincipal: #cc7c7d;
$colorProducto01: #f8d5d5;
$colorProducto02: #84a4d4;
$colorProducto03: #f5cae7;
$colorBoton: #dcb265;
$fuenteColor: #E5677D;
$fuenteColor02: #000;
$fuenteColor03: #739bd6;
$colorSecundario: #EDF3FA;
$colorFondo: #fff; 
$colorcontenido: #000;
$altoNav: 200px;
$iconowidth: 20px;
$iconoHeight: auto;
$iconoPaddingbottom: 5px;
$iconoMargintop: 50px;

