

$fontTittle: 'Poiret One', cursive;
$fuenteContenido: 'Poppins', sans-serif;
$colorPrincipal: #cc7c7d;
$fuenteColor: #E5677D;
$colorSecundario: #EDF3FA;
$colorFondo: #fff; 
$colorcontenido: #000;
$altoNav: 200px;
$iconowidth: 20px;
$iconoHeight: auto;
$iconoPaddingbottom: 5px;
$iconoMargintop: 50px;

