@import "variables";


div.imagLogo {
    img {
        width: 200px;
    }
}



div.dropdown-menu {
    font-family: $fontTittle;
}

nav {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: x-large;
    font-family: $fontTittle;
    display: flex;
    align-items: center;
}


section {
    background-color: #fff;
    height: 800px;
    background-image: url(/Munpala_Amaranto/Multimedia/Amaranto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 340px;

    div.tituloBanner {
        text-align: center;
        color: #fff;
        font-family: $fontTittle;
    }

    h1{
        font-size: 80px;
    }
}


div.container_1 {
    margin-top: 150px;

    div.col-lg-5 {
        background-image: url(/Munpala_Amaranto/Multimedia/barra_amaranto_01.jpg);
        height: 600px;
        font-family:$fuenteContenido;
        font-size: large;
        color:white;

        button.btn{
            padding-left: 70px; 
            padding-right: 70px;
            margin-top: 50px;
            margin-left: 30px;
        }
    }


    div.col-lg-4 {
        background-image: url(/Munpala_Amaranto/Multimedia/alegrias_dechocolate_01.jpg);
        height: 600px;
        button.btn{
            padding-left: 70px; 
            padding-right: 70px;
            margin-top: 50px;
            margin-left: 30px;
        }

    }
    div.col-lg-3 {
        background-image: url(/Munpala_Amaranto/Multimedia/alegria_sabores_01.jpg);
        height: 600px;
        button.btn{
            padding-left: 70px; 
            padding-right: 70px;
            margin-top: 50px;
            margin-left: 30px;
        }
    }
}

div.container_2{
    div.col-lg-5 {
            background-image: url(/Munpala_Amaranto/Multimedia/churritos_01.jpg);
            height: 600px;
            button.btn{
                padding-left: 70px; 
                padding-right: 70px;
                margin-top: 50px;
                margin-left: 30px;
            }
    }
    div.col-lg-4 {
        background-image: url(/Munpala_Amaranto/Multimedia/pepitoria_01.jpg);
        height: 600px;
        button.btn{
            padding-left: 70px; 
            padding-right: 70px;
            margin-top: 50px;
            margin-left: 30px;
        }
    }

    div.col-lg-3 {
        background-image: url(/Munpala_Amaranto/Multimedia/botana_arandano_01.jpg);
        height: 600px;
        button.btn{
            padding-left: 70px; 
            padding-right: 70px;
            margin-top: 50px;
            margin-left: 30px;
        }
    }
}






